# Compiled Java files
*.class

# IntelliJ build output
out/
.idea/
*.iml

# Eclipse build output
bin/
.settings/
.classpath.user

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temp folder
Temp/
